html, body
  height: 100%

header
  box-shadow: 1px 1px 1px 2px #ccc
  padding: 1rem 1rem 0 1rem
  background: whitesmoke
  position: fixed
  z-index: 1
  width: 100%
  #closeModal
    position: fixed
    border-radius: 0.8rem
    width: 9rem
    z-index: 99
    right: 0.5rem
    transform: translateX(120%)
    background: darkslategrey
    color: white
    font-size: 1.5rem
    &.active
      transform: translateX(0)

  button
    transition: transform 0.1s ease
    margin-right: 0.8rem
    overflow: hidden
    position: relative
    width: 15rem
    max-width: 25%
    @media all and (max-width: 800px)
      font-size: 1rem
      padding: 0rem 0.5rem

  .icon
    font-size: 2rem
    margin-right: 2rem

  .arrow
    opacity: 1
    transform: translate(0, 0)
    transition: transform 0.2s ease, opacity 0.3s ease
    display: inline-block
    font-size: 2rem
    
    &.fade
      opacity: 0
      transform: translate(0, -5rem)


#pokemon-list
  padding-top: 7.5rem
  text-align: center
  padding-bottom: 15rem

  .pokemon
    transition: opacity 0.3s ease, box-shadow 0.1s ease, transform 0.2s ease
    transform: scale(1) translate(0,0)
    padding: 1rem
    position: relative
    background: whitesmoke
    margin: 0.5rem
    border: 1px solid #222
    display: inline-block
    text-align: center
    max-width: 33%
    border-radius: 4px
    -moz-box-shadow:    3px 3px 5px 6px white
    -webkit-box-shadow: 3px 3px 5px 6px white
    box-shadow:         3px 3px 5px 6px white

    &.fade
      opacity: 0.8
      transform: scale(0.5)

    img
      margin-top: 5%

    &:hover, &:active
      -moz-box-shadow:    3px 3px 5px 6px #ccc
      -webkit-box-shadow: 3px 3px 5px 6px #ccc
      box-shadow:         3px 3px 5px 6px #ccc
      cursor: pointer

    &.selected
      transform: scale(1.3)
      border: 2px solid #222
      z-index: 1

    .name
      font-size: 1.2rem

#filterModal
  height: 100%
  width: 50%
  position: fixed
  background: white
  border-right: 1px solid #222
  z-index: 98
  opacity: 0
  transition: opacity 0.2s ease
  pointer-events: none
  overflow: scroll
  &.active
    pointer-events: all
    opacity: 1
  
  h4
    padding: 1rem
    font-weight: bold
    text-align: center
    margin-bottom: 0
    

#selectedPokemon
  position: fixed
  transform: translateX(120%) 
  border-radius: 20px
  z-index: 2
  margin-top: 7rem
  margin-left: 2rem
  width: 27rem
  min-height: 40rem
  transition: transform 0.2s
  max-width: 70%
  right: 2rem
  box-shadow: 3px 3px 5px 6px #ccc
  border: 5px solid darkslategrey
  background: darkslategrey
  padding: 1.5rem
  &.active
    transform: translateX(0)

  .hp
    position: absolute
    right: 0rem
    color: white
    font-size: 2.5rem
    span
      font-size: 1rem
      position: absolute
      right: 3rem
      top: 2rem

  .id
    position: absolute
    left: 10px
    top: 0px
    color: white

  h5
    color: white
    margin-bottom: 0
    margin-top: 1rem
    padding: 1rem 1rem 1rem 0
    background: darkslategrey
    font-weight: bold
    border-top: 3px solid white

  .pokemon-types-wrapper
    background: darkslategrey
    padding: 0.5rem 0
    position: relative
    .pokemon-type
      width: 4rem
      min-width: 20%
      border: none !important
      margin-left: 0
      font-size: 1.3rem
      padding: 0.4rem
      &:hover
        cursor: normal
        transform: scale(1)

  .mini-icon
    position: absolute
    right: 1rem
    top: 1rem
    background: white
    border-radius: 50%

  .img-wrapper
    width: 95%
    margin: 0 auto 0 auto
    border-radius: 15px
    height: 35%
    text-align: center
    position: relative
    height: 14rem

    img
      margin: 0 auto
      display: block
      position: absolute
      height: 11rem
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: whitesmoke
  
  .inner-container
    background: whitesmoke

  button
    position: absolute
    right: 1rem
    top: 1rem
    z-index: 99
    &:hover
      cursor: pointer
  
  table
    font-family: Helvetica
    font-size: 1.5rem
    margin: 0 auto
    width: 80%
    min-width: 25rem
    max-width: 90%
    th, td
      padding: 0.7rem 0.5rem

.pokemon-type
  padding: 0.5rem
  width: 10rem
  min-width: 30%
  max-width: 40%
  margin: 1rem
  text-align: center
  font-size: 1.5rem
  transform: scale(1)
  opacity: 1
  transition: all 0.2s ease
  display: inline-block
  color: white
  border-radius: 4px
  &.deselected
    transform: scale(0.9)
    background: white !important
    border: 2px solid #222 !important
    color: #222

  &.Grass
    background: #7ac74c
    border: 2px solid darken(#7ac74c, 10%)

  &.Normal
    background: #A8A77A
    border: 2px solid darken(#A8A77A, 10%)

  &.Fighting
    background: #C22E28
    border: 2px solid darken(#C22E28, 10%)

  &.Flying
    background: #A98FF3
    border: 2px solid darken(#A98FF3, 10%)

  &.Poison
    background: #A33EA1
    border: 2px solid darken(#A33EA1, 10%)

  &.Ground
    background: #E2BF65
    border: 2px solid darken(#E2BF65, 10%)

  &.Rock
    background: #B6A136
    border: 2px solid darken(#B6A136, 10%)

  &.Bug
    background: #A6B91A
    border: 2px solid #A6B91A

  &.Ghost
    background: #735797
    border: 2px solid #735797

  &.Steel
    background: #B7B7CE
    border: 2px solid #B7B7CE

  &.Fire
    background: #EE8130
    border: 2px solid #EE8130

  &.Water
    background: #6390f0
    border: 2px solid #6390f0

  &.Electric
    background: #F7d02C
    border: 2px solid #F7d02C

  &.Psychic
    background: #F95587
    border: 2px solid #F95587

  &.Ice
    background: #96D9D6
    border: 1px solid #96D9D6

  &.Dragon
    background: #6F35FC
    border: 1px solid #6F35FC

  &.Dark
    background: #705746
    border: 1px solid #705746

  &.Fairy
    background: #D685AD
    border: 1px solid #D685AD

  &:hover
    cursor: pointer
    transform: scale(1.1) translateX(0)


$footer-large-height: 5rem

footer
  background: white
  border-top: 1px solid #222
  height: $footer-large-height
  z-index: 99
  width: 100%
  bottom: 0
  position: fixed
  transition: height 0.3s ease
  @media all and (max-width: 800px)
    height: $footer-large-height - 1rem

  .footer-icon
    height: $footer-large-height - 1rem
    margin: 0.5rem 2rem
    float: left
    transition: height 0.3s ease
    @media all and (max-width: 800px)
      height: $footer-large-height - 2rem

#searchQuery
  height: $footer-large-height
  line-height: $footer-large-height
  font-size: 2.2rem
  width: 40%
  min-width: 15rem
  border: none
  float: left
  @media all and (max-width: 800px)
    height: $footer-large-height  - 1rem
    line-height: $footer-large-height - 1rem
    font-size: 1.5rem

.pokeball 
  border: none
  background-color: transparent
  background-image: url("../images/pokeball.svg")
  background-size: cover
  height: 10rem
  width: 10rem
  z-index: 99
  position: fixed
  right: calc(50% - 5rem)
  transform: scale(1)
  transition: transform 0.2s, bottom 0.3s
  bottom: 0

  &:hover, &:active
    cursor: pointer
    transform: scale(1.25)
    
  &.active
    transform: scale(1.25)
    bottom: 50%

.center
  text-align: center

.toggle-wrapper
  width: 8rem
  height: 2.8rem
  border-radius: 30px
  background: lightgrey
  border: 1px solid grey
  position: relative
  display: block
  margin: 1rem auto 2rem auto
  transition: background 0.2s ease


  &.active
    background: darkorange
    #pikachu-toggle
      transform: rotate(20deg)
      left: 6rem

  &:hover
    cursor: pointer
    #pikachu-toggle
      transform: rotate(0deg)

  #pikachu-toggle
    position: absolute
    height: 5rem
    margin-top: -1.5rem
    transition: transform 0.2s ease, left 0.2s ease
    transform: rotate(-20deg)
    left: -4rem
  
