html, body {
  height: 100%; }

header {
  box-shadow: 1px 1px 1px 2px #ccc;
  padding: 1rem 1rem 0 1rem;
  background: whitesmoke;
  position: fixed;
  z-index: 2;
  width: 100%; }
  header button {
    transition: transform 0.1s ease;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    width: 15rem;
    max-width: 25%; }
    @media all and (max-width: 800px) {
      header button {
        font-size: 1rem;
        padding: 0rem 0.5rem; } }
  header .arrow {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.2s ease, opacity 0.3s ease;
    display: inline-block;
    font-size: 2rem; }
    header .arrow.fade {
      opacity: 0;
      transform: translate(0, -5rem); }

.pokemon-loading {
  position: fixed;
  text-align: center;
  max-height: 100%; }
  .pokemon-loading img {
    width: 7rem;
    margin: 2rem; }

.loading-wrapper {
  max-height: 100%;
  max-width: 100%; }
@keyframes pokemonHover {
  0% {
    top: 0%; }
  100% {
    top: 100%; } }
  .loading-wrapper h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 100%;
    font-weight: bold;
    background: white;
    height: 100%;
    top: 50%;
    animation: pokemonHover 5s infinite alternate-reverse; }

#pokemon-list {
  padding-top: 7.5rem;
  text-align: center;
  padding-bottom: 15rem; }
  @media all and (max-width: 550px) {
    #pokemon-list {
      padding-top: 12.5rem; } }
  #pokemon-list .pokemon {
    transition: opacity 0.3s ease, transform 0.1s ease;
    transform: scale(1);
    padding: 1rem;
    position: relative;
    background: whitesmoke;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    max-width: 33%;
    border-radius: 4px;
    border-width: 3px; }
    #pokemon-list .pokemon.fade {
      opacity: 0.8;
      transform: scale(0.5); }
    #pokemon-list .pokemon img {
      margin-top: 5%; }
    #pokemon-list .pokemon:hover, #pokemon-list .pokemon:active {
      transform: scale(1.3);
      cursor: pointer;
      z-index: 1; }
    #pokemon-list .pokemon.selected {
      z-index: 1; }
    #pokemon-list .pokemon .name {
      font-size: 1.2rem; }

#filterModal {
  height: 100%;
  width: 50%;
  position: fixed;
  background: white;
  border-right: 1px solid #222;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  overflow: scroll; }
  #filterModal.active {
    pointer-events: all;
    opacity: 1; }
  #filterModal h4 {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0; }

#selectedSkill {
  position: fixed;
  color: #222;
  border-radius: 20px;
  margin-top: 1rem;
  width: 27rem;
  right: 2rem;
  z-index: 3;
  background: darkslategrey; }
  #selectedSkill:hover {
    cursor: pointer; }
  #selectedSkill .pokemon-type {
    position: absolute;
    right: 1rem;
    bottom: 1rem; }
    #selectedSkill .pokemon-type:hover {
      transform: none;
      cursor: normal; }
  #selectedSkill .inner-container {
    border-radius: 20px;
    border-width: 10px;
    background: darkslategrey;
    color: white; }
    #selectedSkill .inner-container h5 {
      padding: 1.5rem;
      border-bottom: 1px solid white;
      font-weight: bold; }
    #selectedSkill .inner-container p {
      padding: 1.5rem;
      margin-bottom: 0rem; }

.back-face, #selectedPokemon {
  position: fixed;
  transform: translateX(120%);
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 7rem;
  width: 27rem;
  height: 45rem;
  transition: transform 0.3s ease;
  max-width: 70%;
  right: 2rem;
  box-shadow: 3px 3px 5px 6px #ccc;
  border: 5px solid darkslategrey;
  background: darkslategrey;
  padding: 1.5rem;
  color: white;
  z-index: 3;
  overflow-y: scroll; }
  .back-face .skills-container, #selectedPokemon .skills-container {
    max-height: 95%;
    overflow-y: scroll;
    padding: 0 1rem 1rem 1rem;
    color: white; }
    .back-face .skills-container h5, #selectedPokemon .skills-container h5 {
      margin-bottom: 1rem;
      border-bottom: 3px solid white; }
    .back-face .skills-container h6, #selectedPokemon .skills-container h6 {
      margin-bottom: 0; }
    .back-face .skills-container .skill, #selectedPokemon .skills-container .skill {
      background: #426f6f;
      transition: background 0.3s ease;
      padding: 0.8rem;
      border-radius: 4px;
      margin: 0.3rem;
      font-size: 1.2rem;
      display: inline-block; }
      .back-face .skills-container .skill:hover, #selectedPokemon .skills-container .skill:hover {
        background: #558f8f;
        cursor: pointer; }
  .back-face.active, #selectedPokemon.active {
    transform: translateX(0); }
    .back-face.active.flipped, #selectedPokemon.active.flipped {
      transform: translateX(0) rotateY(180deg);
      z-index: 1; }
  .back-face .hp, #selectedPokemon .hp {
    position: absolute;
    right: 0rem;
    font-size: 2.5rem; }
    .back-face .hp span, #selectedPokemon .hp span {
      font-size: 1rem;
      right: 3rem;
      top: 2rem; }
  .back-face .id, #selectedPokemon .id {
    position: absolute;
    left: 10px;
    top: 0px; }
  .back-face h5, #selectedPokemon h5 {
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 0;
    background: darkslategrey;
    font-weight: bold;
    border-top: 3px solid white; }
  .back-face .pokemon-types-wrapper, #selectedPokemon .pokemon-types-wrapper {
    background: darkslategrey;
    padding: 0.5rem 0;
    position: relative; }
    .back-face .pokemon-types-wrapper .pokemon-type, #selectedPokemon .pokemon-types-wrapper .pokemon-type {
      width: 4rem;
      min-width: 20%;
      border: none !important;
      margin-left: 0;
      font-size: 1.3rem;
      padding: 0.4rem; }
      .back-face .pokemon-types-wrapper .pokemon-type:hover, #selectedPokemon .pokemon-types-wrapper .pokemon-type:hover {
        cursor: default;
        transform: scale(1); }
  .back-face .mini-icon, #selectedPokemon .mini-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: white;
    border-radius: 50%; }
  .back-face .img-wrapper, #selectedPokemon .img-wrapper {
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    height: 35%;
    text-align: center;
    position: relative;
    height: 14rem; }
    .back-face .img-wrapper img, #selectedPokemon .img-wrapper img {
      margin: 0 auto;
      display: block;
      position: absolute;
      height: 10rem;
      top: 50%;
      left: 50%;
      transform: translate(-250%, -50%) scale(1);
      background: whitesmoke;
      animation: hover 2.5s infinite alternate; }
@keyframes hover {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    transform: translate(-50%, -51.5%); }
  75% {
    transform: translate(-50%, -48.5%); }
  100% {
    transform: translate(-50%, -50%); } }
  .back-face .inner-container, #selectedPokemon .inner-container {
    background: whitesmoke; }
  .back-face button, #selectedPokemon button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 99; }
    .back-face button:hover, #selectedPokemon button:hover {
      cursor: pointer; }
  .back-face table, #selectedPokemon table {
    font-family: Helvetica;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 80%;
    min-width: 25rem;
    max-width: 90%; }
    .back-face table th, .back-face table td, #selectedPokemon table th, #selectedPokemon table td {
      padding: 0.7rem 0.5rem; }

.button-row {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  z-index: 98; }
  .button-row button {
    border-radius: 0.8rem;
    width: 9rem;
    opacity: 0;
    background: darkslategrey;
    color: white;
    font-size: 1.5rem;
    float: right;
    margin: 0 1rem; }
    .button-row button.active {
      opacity: 1; }
    .button-row button:hover, .button-row button:focus {
      color: white; }
    .button-row button img {
      max-height: 90%; }
  @media all and (max-width: 600px) {
    .button-row {
      width: 100%;
      right: 0; }
      .button-row button:nth-child(1) {
        float: left;
        margin-left: 1rem; } }

.pokemon-type {
  padding: 0.5rem;
  width: 10rem;
  min-width: 30%;
  max-width: 40%;
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;
  display: inline-block;
  color: white;
  border-radius: 4px; }
  .pokemon-type.deselected {
    transform: scale(0.9);
    background: white !important;
    border: 2px solid #222 !important;
    color: #222; }
  .pokemon-type:hover {
    cursor: pointer;
    transform: scale(1.1) translateX(0); }

.Grass {
  background: #7ac74c;
  border: 2px solid #61ab35; }

.Normal {
  background: #A8A77A;
  border: 2px solid #908f5f; }

.Fighting {
  background: #C22E28;
  border: 2px solid #98241f; }

.Flying {
  background: #A98FF3;
  border: 2px solid #8661ee; }

.Poison {
  background: #A33EA1;
  border: 2px solid #7e307d; }

.Ground {
  background: #E2BF65;
  border: 2px solid #daad3a; }

.Rock {
  background: #B6A136;
  border: 2px solid #8f7e2a; }

.Bug {
  background: #A6B91A;
  border: 2px solid #A6B91A; }

.Ghost {
  background: #735797;
  border: 2px solid #735797; }

.Steel {
  background: #B7B7CE;
  border: 2px solid #B7B7CE; }

.Fire {
  background: #EE8130;
  border: 2px solid #EE8130; }

.Water {
  background: #6390f0;
  border: 2px solid #6390f0; }

.Electric {
  background: #F7d02C;
  border: 2px solid #F7d02C; }

.Psychic {
  background: #F95587;
  border: 2px solid #F95587; }

.Ice {
  background: #96D9D6;
  border: 1px solid #96D9D6; }

.Dragon {
  background: #6F35FC;
  border: 1px solid #6F35FC; }

.Dark {
  background: #705746;
  border: 1px solid #705746; }

.Fairy {
  background: #D685AD;
  border: 1px solid #D685AD; }

#searchQuery {
  height: 4rem;
  line-height: 4rem;
  font-size: 2.2rem;
  width: calc(100% - 6rem);
  max-width: 80%;
  min-height: 35px;
  border: 1px solid lightgrey;
  float: left; }
  @media all and (max-width: 800px) {
    #searchQuery {
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem; } }

.icon {
  height: 2.3rem;
  margin-right: 2rem;
  float: left;
  font-size: 2.5rem; }
  .icon.search {
    margin-top: 0.5rem; }

.pokeball {
  border: none;
  background-color: transparent;
  background-image: url("../images/pokeball.svg");
  background-size: cover;
  height: 10rem;
  width: 10rem;
  z-index: 99;
  position: fixed;
  right: calc(50% - 5rem);
  transform: scale(1);
  transition: transform 0.2s, bottom 0.3s;
  bottom: 0; }
  .pokeball:hover, .pokeball:active {
    cursor: pointer;
    transform: scale(1.25); }
  .pokeball.active {
    transform: scale(1.25);
    bottom: 50%; }

.center {
  text-align: center; }

.toggle-wrapper {
  width: 8rem;
  height: 2.8rem;
  border-radius: 30px;
  background: lightgrey;
  border: 1px solid grey;
  position: relative;
  display: block;
  margin: 1rem auto 2rem auto;
  transition: background 0.2s ease; }
  .toggle-wrapper.active {
    background: darkorange; }
    .toggle-wrapper.active #pikachu-toggle {
      transform: rotate(20deg);
      left: 6rem; }
  .toggle-wrapper:hover {
    cursor: pointer; }
    .toggle-wrapper:hover #pikachu-toggle {
      transform: rotate(0deg); }
  .toggle-wrapper #pikachu-toggle {
    position: absolute;
    height: 5rem;
    margin-top: -1.5rem;
    transition: transform 0.2s ease, left 0.2s ease;
    transform: rotate(-20deg);
    left: -4rem; }

/*# sourceMappingURL=styles.css.map */
