html, body {
  height: 100%; }

header {
  margin-bottom: 1rem;
  box-shadow: 0 0 0 0 #ccc;
  padding: 1rem 1rem 0 1rem;
  background: whitesmoke; }

#pokemon-list {
  text-align: center;
  padding-bottom: 15rem; }
  #pokemon-list .pokemon {
    transition: opacity 0.3s ease, box-shadow 0.1s ease, transform 0.2s ease;
    transform: scale(1) translate(0, 0);
    padding: 1rem;
    position: relative;
    background: whitesmoke;
    margin: 0.5rem;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    max-width: 33%;
    border-radius: 4px;
    -moz-box-shadow: 3px 3px 5px 6px white;
    -webkit-box-shadow: 3px 3px 5px 6px white;
    box-shadow: 3px 3px 5px 6px white; }
    #pokemon-list .pokemon.fade {
      opacity: 0.8;
      transform: scale(0.5); }
    #pokemon-list .pokemon img {
      margin-top: 5%; }
    #pokemon-list .pokemon:hover, #pokemon-list .pokemon:active {
      -moz-box-shadow: 3px 3px 5px 6px #ccc;
      -webkit-box-shadow: 3px 3px 5px 6px #ccc;
      box-shadow: 3px 3px 5px 6px #ccc;
      cursor: pointer; }
    #pokemon-list .pokemon.selected {
      transform: scale(1);
      margin: 0rem; }
    #pokemon-list .pokemon .name {
      font-size: 1.2rem; }

#filterModal {
  height: 100%;
  width: 50%;
  position: fixed;
  background: white;
  border-right: 1px solid #222;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  overflow: scroll; }
  #filterModal.active {
    pointer-events: all;
    opacity: 1; }
  #filterModal h4 {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0; }

#selectedPokemon {
  position: fixed;
  transform: translateX(120%);
  border-radius: 20px;
  z-index: 2;
  margin-top: 6rem;
  margin-left: 2rem;
  width: 27rem;
  transition: transform 0.2s;
  max-width: 70%;
  right: 2rem;
  box-shadow: 3px 3px 5px 6px #ccc;
  border: 5px solid darkslategrey;
  background: darkslategrey;
  padding: 1.5rem; }
  #selectedPokemon #closeModal {
    position: fixed;
    top: -5rem;
    right: 0;
    background: darkslategrey;
    color: white;
    font-size: 1.5rem; }
  #selectedPokemon.active {
    transform: translateX(0); }
  #selectedPokemon .hp {
    position: absolute;
    right: 0rem;
    color: white;
    font-size: 2.5rem; }
    #selectedPokemon .hp span {
      font-size: 1rem;
      position: absolute;
      right: 3rem;
      top: 2rem; }
  #selectedPokemon .id {
    position: absolute;
    left: 10px;
    top: 0px;
    color: white; }
  #selectedPokemon h5 {
    color: white;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 0;
    background: darkslategrey;
    font-weight: bold;
    border-top: 3px solid white; }
  #selectedPokemon .pokemon-types-wrapper {
    background: darkslategrey;
    padding: 0.5rem 0;
    position: relative; }
    #selectedPokemon .pokemon-types-wrapper .pokemon-type {
      width: 4rem;
      min-width: 20%;
      border: none !important;
      margin-left: 0;
      font-size: 1.3rem;
      padding: 0.4rem; }
      #selectedPokemon .pokemon-types-wrapper .pokemon-type:hover {
        cursor: normal;
        transform: scale(1); }
  #selectedPokemon .mini-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: white;
    border-radius: 15px; }
  #selectedPokemon .img-wrapper {
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    height: 35%;
    text-align: center;
    position: relative;
    height: 14rem; }
    #selectedPokemon .img-wrapper img {
      margin: 0 auto;
      display: block;
      position: absolute;
      height: 11rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: whitesmoke; }
  #selectedPokemon .inner-container {
    background: whitesmoke; }
  #selectedPokemon button {
    position: absolute;
    right: 1rem;
    top: 1rem; }
    #selectedPokemon button:hover {
      cursor: pointer; }
  #selectedPokemon table {
    font-family: Helvetica;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 80%;
    min-width: 25rem;
    max-width: 90%; }
    #selectedPokemon table th, #selectedPokemon table td {
      padding: 0.7rem 0.5rem; }

.pokemon-type {
  padding: 0.5rem;
  width: 10rem;
  min-width: 30%;
  max-width: 40%;
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;
  display: inline-block;
  color: white;
  border-radius: 4px; }
  .pokemon-type.deselected {
    transform: scale(0.9);
    background: white !important;
    border: 2px solid #222 !important;
    color: #222; }
  .pokemon-type.Grass {
    background: #7ac74c;
    border: 2px solid #61ab35; }
  .pokemon-type.Normal {
    background: #A8A77A;
    border: 2px solid #908f5f; }
  .pokemon-type.Fighting {
    background: #C22E28;
    border: 2px solid #98241f; }
  .pokemon-type.Flying {
    background: #A98FF3;
    border: 2px solid #8661ee; }
  .pokemon-type.Poison {
    background: #A33EA1;
    border: 2px solid #7e307d; }
  .pokemon-type.Ground {
    background: #E2BF65;
    border: 2px solid #daad3a; }
  .pokemon-type.Rock {
    background: #B6A136;
    border: 2px solid #8f7e2a; }
  .pokemon-type.Bug {
    background: #A6B91A;
    border: 2px solid #A6B91A; }
  .pokemon-type.Ghost {
    background: #735797;
    border: 2px solid #735797; }
  .pokemon-type.Steel {
    background: #B7B7CE;
    border: 2px solid #B7B7CE; }
  .pokemon-type.Fire {
    background: #EE8130;
    border: 2px solid #EE8130; }
  .pokemon-type.Water {
    background: #6390f0;
    border: 2px solid #6390f0; }
  .pokemon-type.Electric {
    background: #F7d02C;
    border: 2px solid #F7d02C; }
  .pokemon-type.Psychic {
    background: #F95587;
    border: 2px solid #F95587; }
  .pokemon-type.Ice {
    background: #96D9D6;
    border: 1px solid #96D9D6; }
  .pokemon-type.Dragon {
    background: #6F35FC;
    border: 1px solid #6F35FC; }
  .pokemon-type.Dark {
    background: #705746;
    border: 1px solid #705746; }
  .pokemon-type.Fairy {
    background: #D685AD;
    border: 1px solid #D685AD; }
  .pokemon-type:hover {
    cursor: pointer;
    transform: scale(1.1) translateX(0); }

footer {
  background: white;
  border-top: 1px solid #222;
  height: 5rem;
  z-index: 99;
  width: 100%;
  bottom: 0;
  position: fixed;
  transition: height 0.3s ease; }
  @media all and (max-width: 800px) {
    footer {
      height: 4rem; } }
  footer .footer-icon {
    height: 4rem;
    margin: 0.5rem 2rem;
    float: left;
    transition: height 0.3s ease; }
    @media all and (max-width: 800px) {
      footer .footer-icon {
        height: 3rem; } }

#searchQuery {
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  width: 40%;
  min-width: 15rem;
  border: none;
  float: left; }
  @media all and (max-width: 800px) {
    #searchQuery {
      height: 4rem;
      line-height: 4rem;
      font-size: 1.5rem; } }

.pokeball {
  border: none;
  background-color: transparent;
  background-image: url("../images/pokeball.svg");
  background-size: cover;
  height: 10rem;
  width: 10rem;
  z-index: 99;
  position: fixed;
  right: calc(50% - 5rem);
  transform: scale(1);
  transition: transform 0.2s, bottom 0.3s;
  bottom: 0; }
  .pokeball:hover, .pokeball:active {
    cursor: pointer;
    transform: scale(1.25); }
  .pokeball.active {
    transform: scale(1.25);
    bottom: 50%; }

.center {
  text-align: center; }

.toggle-wrapper {
  width: 8rem;
  height: 2.8rem;
  border-radius: 30px;
  background: lightgrey;
  border: 1px solid grey;
  position: relative;
  display: block;
  margin: 1rem auto 2rem auto;
  transition: background 0.2s ease; }
  .toggle-wrapper.active {
    background: darkorange; }
    .toggle-wrapper.active #pikachu-toggle {
      transform: rotate(20deg);
      left: 6rem; }
  .toggle-wrapper:hover {
    cursor: pointer; }
    .toggle-wrapper:hover #pikachu-toggle {
      transform: rotate(0deg); }
  .toggle-wrapper #pikachu-toggle {
    position: absolute;
    height: 5rem;
    margin-top: -1.5rem;
    transition: transform 0.2s ease, left 0.2s ease;
    transform: rotate(-20deg);
    left: -4rem; }

/*# sourceMappingURL=styles.css.map */
