<pokemon-detail [pokemon]=selectedPokemon [pokemonTypes]="selectedPokemon ? getTypes(selectedPokemon) : undefined"></pokemon-detail>
<div [class.active]="toggleFilter" id="filterModal">
  <div class="row">
    <div class="twelve columns">
      <h4>Pokémon Type Filter</h4>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <pokemon-types-master (typeFilter)="typeFilterEvent($event)"></pokemon-types-master>
    </div>
  </div>
</div>

<header>
  <div class="row">
    <div class="five columns">
      <img src="assets/images/icons/search.svg" alt="" class="icon search">
      <input [(ngModel)]="searchQuery" type="text" id="searchQuery"/>
    </div>
    <div class="columns seven">
      <span class="icon">&#x21c5;</span>
      <button (click)="performSortToggle('id')">ID: {{sortID}}</button>
      <button (click)="performSortToggle('name')">Name: {{sortName}}</button>
      <button (click)="performSortToggle('type')">Type: {{sortType}}</button>
      <button (click)="selectedPokemon = undefined" id="closeModal" [class.active]="selectedPokemon">x</button>
    </div>
  </div>
</header>

<section
  id="pokemon-list"
  [class.selected]="selectedPokemon"
  >
  <div class="row">
    <div id="speech-bubble"></div>
    <img src="assets/images/icons/snorlax.svg" alt="" class="host snorlax">
    <img src="assets/images/icons/eevee.svg" alt="" class="host eevee">
  </div>
  <div
  class="pokemon" 
  *ngFor="let p of filteredPokemon"
  [class.selected]="selectedPokemon === p"
  (click)="onSelect(p)"
  [class.fade]="this.searchQuery.length > 0 && !p.ename.toLowerCase().includes(this.searchQuery.toLowerCase())" >
    <img src="assets/images/spr/{{p.id}}MS.png" alt="">
    <div class="name">{{p.ename}}</div>
  </div>
</section>

<a (click)="toggleFilter = !toggleFilter" [class.active]="toggleFilter" class="pokeball"></a>