<div id="selectedPokemon" [class.active]="pokemon" [class.flipped]="!faceFront">
  <div *ngIf="pokemon">
    <div class="id">
      ID: {{pokemon.id}}
    </div>
    <h5>{{pokemon.ename}} <small>({{pokemon.jname}})</small></h5>
    <img src="assets/images/spr/{{pokemon.id}}MS.png" alt="" class="mini-icon">
    <div class="inner-container">
      <div class="img-wrapper">
        <img src="assets/images/thm/{{pokemon.id}}{{pokemon.flatName ? pokemon.flatName : pokemon.ename}}.png" alt="">
      </div>
      <div class="pokemon-types-wrapper">
        <div class="hp">
          <span>HP</span>
          {{pokemon.base.HP}}
        </div>
        <div class="pokemon-type {{item}}" *ngFor="let item of selectedPokemonTypes" >{{item}}</div>
      </div>

      <div class="base">
        <table>
          <tr>
            <th>Attack</th>
            <td>{{pokemon.base.Attack}}
            </td>
          </tr>

          <tr>
            <th>Defense</th>
            <td>{{pokemon.base.Defense}}</td>
          </tr>

          <tr>
            <th>SpAtk</th>
            <td>{{pokemon.base.SpAtk}}</td>
          </tr>

          <tr>
            <th>SpDef</th>
            <td>{{pokemon.base.SpDef}}</td>
          </tr>

          <tr>
            <th>Speed</th>
            <td>{{pokemon.base.Speed}}</td>
          </tr>

        </table>
      </div>
    </div>
  </div>

</div>

<div class="back-face" [class.active]="pokemon" [class.flipped]="faceFront">
  <div *ngIf="pokemon" class="skills-container">
    <h5>Skills</h5>
    <div *ngFor="let skillList of ['level_up', 'egg', 'pre_evolution', 'tm', 'tutor', 'transfer']">
      <h6 *ngIf="pokemon.skills[skillList]">{{skillList|toTitleCase}}</h6>
      <div *ngFor="let skill of getSkillsInSet(pokemon, skillList)" class="{{getType(skill)}} skill" (click)="selectedSkill = skill" >
        {{skill.ename}}
    </div>
    </div>
  </div>
</div>

<div class="button-row">
  <button (click)="pokemon = undefined; selectedSkill = undefined; faceFront = true" id="closeModal" [class.active]="pokemon">x</button>
  <button (click)="faceFront =  !faceFront" id="togglePokemonCard" [class.active]="pokemon">
    <img src="assets/images/flip.svg">
  </button>
</div>
<div *ngIf="selectedSkill" id="selectedSkill" (click)="selectedSkill = undefined">
  <div class="inner-container {{getType(selectedSkill)}}">
    <h5>#{{selectedSkill.id}}: {{selectedSkill.ename}}</h5>
    <p *ngIf="selectedSkill.power" >Power: {{selectedSkill.power}}</p>
    <p *ngIf="selectedSkill.accuracy" >Accuracy: {{selectedSkill.accuracy}}</p>
    <p *ngIf="selectedSkill.pp" >PP: {{selectedSkill.pp}}</p>
    <span class="pokemon-type {{getType(selectedSkill)}}">{{getType(selectedSkill)}}</span>
  </div>  
</div>