<pokemon-detail [pokemon]=selectedPokemon></pokemon-detail>
<div [class.active]="toggleFilter" id="filterModal">
  <div class="row">
    <div class="twelve columns">
      <h4>Filters</h4>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <pokemon-types-master></pokemon-types-master>
    </div>

    <div class="six columns">
      <div class="row">
        <div class="twelve columns">
          <other-filters></other-filters>
        </div>
      </div>
    </div>
  </div>
</div>

<section
  id="pokemon-list"
  [class.selected]="selectedPokemon"
  >
  <div 
  class="pokemon {{p.type[0]}}" 
  *ngFor="let p of pokemon"
  [class.selected]="selectedPokemon === p"
  (click)="onSelect(p)">
    <img src="assets/images/spr/{{p.id}}MS.png" alt="">
    <div class="name">{{p.ename}}</div>
  </div>
</section>

<a (click)="toggleFilter = !toggleFilter" [class.active]="toggleFilter" class="pokeball"></a>